.emoji>button{
    position: absolute;
    left: 5px;
    bottom: 8vh;
    width: 40px;
    height: 40px;
    background-color: chocolate;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;

    display: grid;
    place-content: center;
}